/* Header container */
header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  border-bottom: 2px solid #190727; /* line */
}
/* Title styling */
h1 
{
  color: white;
  font-size: 25px;
  margin: 0px;
  font-weight: 400;
}
/* Navigation container */
nav 
{
  display: flex;
  gap: 10px;
}
/* All nav links */
nav a 
{
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 5px;
}
/* Here button */
.here-btn
{
  background-color: #9810fa; /* purple background */
}
/* Hover effect for all links */
nav a:hover 
{
  background-color: #64129f; /* darker purple on hover */
}

/*Intro section*/
.intro 
{
  text-align: center;
  padding: 140px;
  background-image: url(galaxy-intro.jpg);
  background-size: cover;
}
.intro h2
{ 
  font-size: 60px;
}
.intro p
{
  font-size: 24px;
}




/* Change all the colors*/
body 
{
  background-color: #000000;
}
h1 
{
  color: #ffffff;
  padding-top: 0cm; ;

}
h2
{
  color: #cc6eff;
}
p 
{
  color: #adb3af
}
h3
{
  color: #1e4470;
}
button
{
  background-color: #9810fa;
  color: #ffffff;
}
table, th, td 
{
  border: 2px solid #7b46a1;
  color: #ffffff;
  
  border-collapse: collapse;
}
.video
{
  display: flex;
  justify-content: flex-end;
}
.video-content
{
  align-content: center;
}