/* Style the navigation links as buttons */
nav
{
a:link, a:visited 
{
  border-radius: 10px;
  background-color: #9810fa;
  color: #ffffff;
  padding: 14px 20px;
  display: inline-block;
}
a:hover, a:active 
{
  background-color: #6b0dae;
}
}

/* Change all the colors*/
body 
{
  background-color: rgba(6, 6, 6, 0.695);
}
h1 
{
  color: #ffffff;
}
h2
{
  color: #cc6eff;
}
p 
{
  color: rgba(185, 243, 253, 0.5);
}