/* Style the navigation links as buttons */
.nav-links
{
   display: flex;
  justify-content: flex-end;
  gap: 10px;
}
nav
{
a:link, a:visited 
{
  border-radius: 10px;
  background-color: #9810fa;
  color: #ffffff;
  padding: 14px 20px;
  display: inline-block;
}
a:hover, a:active 
{
  background-color: #6b0dae;
}
}

/* Change all the colors*/
body 
{
  background-color: #000000;
}
h1 
{
  color: #ffffff;
}
h2
{
  color: #cc6eff;
}
p 
{
  color: #adb3af
}
h3
{
  color: #1e4470;
}
button
{
  background-color: #9810fa;
  color: #ffffff;
}
table, th, td 
{
  border: 2px solid #7b46a1;
  color: #ffffff;
  
  border-collapse: collapse;
}
.video
{
  display: flex;
  justify-content: flex-end;
}
.video-content
{
  align-content: center;
}