/* Header container */
header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  border-bottom: 2px solid #190727; /* line */
}
/* Title styling */
h1 
{
  color: white;
  font-size: 25px;
  margin: 0px;
  font-weight: 400;
}
/* Navigation container */
nav 
{
  display: flex;
  gap: 10px;
}
/* All nav links */
nav a 
{
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 5px;
}
/* Here button */
.here-btn
{
  background-color: #9810fa; /* purple background */
}
/* Hover effect for all links */
nav a:hover 
{
  background-color: #64129f; /* darker purple on hover */
}

/*Intro section*/
.intro 
{
  text-align: center;
  padding: 180px;
  background-image: url(galaxy-intro.jpg);
  background-size: cover;
}
.intro h2
{ 
  font-size: 60px;
}
.intro p
{
  font-size: 24px;
}
/* Button */
button
{
   border-radius: 5px;
   height: 40px;
   font-size: 16px;
   width: 120px;
}
.container
{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  box-sizing: border-box;
}
.container div
{ 
  flex: 1;
  text-align: left;
  padding: 20px;
  min-height: 300px;
  font-size: 20px;
  line-height: 1.6;
}
footer 
{
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 2px solid #190727;  /* line */
}

/*Content page styles*/
.celestial
{
  text-align: center;
  padding: 60px;
}
.celestial h2
{
  font-size: 20px;
  margin-bottom: 20px;
}
.celestial p
{
  font-size: 20px;
  line-height: 1.6;
}

/* Table */
.planets
{
  border-style: solid ;
  border-color:  #190727; 
  margin: 200px;
  color: #0c0014;
}
.planets h2

/*list */
ul
{
  text-align: left;
  display: inline-block;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 0px;
  color:#fffeff;
}

/* Change all the colors*/
body 
{
  background-color: #000000;
  margin: 0;
  padding: 0;

}
h1 
{
  color: #ffffff;
  padding-top: 0cm; ;

}
h2
{
  color: #cc6eff;
}
p 
{
  color: #fffeff
}
h3
{
  color: #1e4470;
}
button
{
  background-color: #9810fa;
  color: #ffffff;
}
table, th, td 
{
  border: 2px solid #7b46a1;
  color: #ffffff;
  border-collapse: collapse;
  margin: 0 auto;
  width: 60%;
}
